@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Hanken Grotesk", sans-serif;
  text-align: center;
  align-items: center;
}
.overall {
  position: absolute;
  border-radius: 20px;
  padding: 15px;
  width: 18%;
  height: 50%;
  margin-bottom: -100px;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  background-image: linear-gradient(#7857ff, #2e2be9);
  color: white;
}
.result {
  margin-bottom: -40px;
  font-size: 18px;
}
.num {
  font-weight: 800;
  font-size: 3.5rem;
  margin-bottom: -20px;
  padding-top: 25px;
}
.circle {
  text-align: center;
  margin-left: 55px;
  height: 150px;
  width: 150px;
  border-radius: 1000000000000000px;
  padding-left: -100px;
  padding-right: -100px;
  background-image: linear-gradient(#4e21ca, #2e2be9);
  border: none;
}
.great {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: -7px;
}
.score {
  color: #bfbfbf;
}
.cube1 {
  background-color: rgba(255, 87, 87, 0.17);
}
img {
  margin-left: 7px;
  font-weight: 700;
}
.text {
  color: hsl(0, 100%, 67%);
}
.cube2 {
  background-color: rgba(255, 177, 31, 0.17);
}
.text1 {
  color: hsl(39, 100%, 56%);
}
.cube3 {
  background-color: rgba(0, 189, 145, 0.17);
}
.text2 {
  color: hsl(166, 100%, 37%);
}
.cube4 {
  background-color: rgba(17, 36, 212, 0.17);
}
.text3 {
  color: hsl(234, 85%, 45%);
}
.cubedisplay {
  font-weight: 600;
  display: flex;
  margin-top: 15px;
  width: 100%;
  height: 50px;
  border-radius: 7px;
  font-size: 18px;
}
span {
  color: gray;
  margin-left: 4px;
}

.text-score {
  margin-left: 60px;
  padding-right: 10px;
}
.text-score1 {
  margin-left: 70px;
}
.cubedisplay p {
  padding-left: 10px;
  font-size: 13px;
}
.continue {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  color: white;
  background-color: hsl(224, 30%, 27%);
  border: none;
  border-radius: 100000000000px;
  margin-bottom: 10px;
}
.sum {
  text-align: left;
  font-weight: 700;
  font-size: 1.3rem;
}
.places {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(29%, -50%);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 10px 3px whitesmoke;
  clip-path: inset(-10px -10px -10px 0px);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}




